.logo {
    font: normal normal normal 36px/54px Baloo Thambi;
    color: #F8B52E !important;
}

.card-img-top {
    height: 175px;
    object-fit: cover;
}

.bg-img {
    height: 120px;
}

.profile-photo {
    margin-left: 125px;
}

.banner {
    margin-bottom: 80px;
}

.profile {
    margin-bottom: 80px;
}

.reserve {
    margin-bottom: 80px;
}

.customer-select {
    height: 48px;
}

.Users {
    background: url(../../image/index-9.jpeg) no-repeat center;
    height: 584px;
    color: white;
    margin-bottom: 80px;
}

.Users h2 {
    padding-top: 80px;
    margin-bottom: 100px;
}

.contact {
    background: #F0AD25;
    margin-bottom: 60px;
}

.footer {
    list-style: none;
}