.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 0px;
}

.navbar h1 a {
    background-image: url(../image/logo.png);
    width: 128px;
    height: 38px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.navbar a .person {
    background-image: url(../image/logo.png);
    width: 128px;
    height: 38px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.nav-list {
    background-color: #916000;
}

.nav-brand {
    list-style: none;
    text-align: left;
    font: normal normal normal 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 16px;
}

.form-control {
    text-align: left;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}